<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon  -->
    <link rel="icon" href="/images/fragments/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/vendor/datatables/css/rowReorder.dataTables.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
    <title>Learning Path Data Table</title>
</head>
<body>

<div th:replace="fragments/header :: header(${authentication.getName()})"></div>
<div th:replace="fragments/sidebar"></div>
<main id="main" class="main">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/learning-path">All learning path</a></li>
        </ol>
    </nav>
    <div th:if="${alert?.getType() == T(com.fluentenglish.web.common.form.AlertType).SUCCESS}" class="alert alert-success" role="alert">
        <p th:text="${alert.message}"> </p>
    </div>
    <div th:if="${alert?.getType() == T(com.fluentenglish.web.common.form.AlertType).FAILURE}" class="alert alert-danger" role="alert">
        <p th:text="${alert.message}"> </p>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Learning Path Data Table</h5>
                        <div th:replace="fragments/data_table :: dataTable(${learningPathDataTable.rows}, 'lp-data-table', ${learningPathDataTable.isArrangeable()})"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- Vendor JS Files -->
<script src="/vendor/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/js/dataTables.rowReorder.min.js"></script>
<script src="/vendor/datatables/js/dataTables.fixedColumns.min.js"></script>
<script src="/vendor/tinymce/tinymce.min.js"></script>

<script src="/js/fragments/data_table.js"></script>
<script type="text/javascript">
    const dataTables = [
        {
            id: 'lp-data-table',
            config : {
                isArrangeable : [[${learningPathDataTable.isArrangeable}]],
                isPaginable : [[${learningPathDataTable.isPaginable}]],
            }
        }
    ];
    $(document ).ready(function() {
        DataTableInitializer.initializeDataTables(dataTables);
    });
</script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
</body>
</html>
