<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon  -->
  <link rel="icon" href="/images/fragments/favicon.ico">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <title>Exercise detail</title>

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header(${userInfo})"></div>
<div th:replace="fragments/sidebar"></div>
<main id="main" class="main">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/admin/lesson}">Lessons</a></li>
      <li class="breadcrumb-item">
        <a th:href="@{/admin/lesson/{lessonId}(lessonId=${exercise.lessonId})}" th:text="${exercise.lessonId}"></a>
      </li>
      <li class="breadcrumb-item active" th:text="${exercise.name}"></li>
    </ol>
  </nav>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title" th:object="${exercise}">
                Exercise detail
                <span class="badge bg-info text-light" th:if="*{isPublic()}">Public</span>
                <span class="badge bg-secondary text-light" th:if="*{!isPublic()}">Private</span>
              </h5>
              <div th:object="${exercise}">
                <button th:if="*{!isPublic()}" type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#set-public-modal">Set public
                </button>
                <button th:if="*{isPublic()}" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#set-private-modal">Set private
                </button>
              </div>
            </div>
            <form method="post" id="exercise-form" th:action="@{/admin/exercise/{exerciseId}/update(exerciseId=${exercise.id})}"
                  class="row g-3">
              <div
                  th:replace="~{learningmaterial/exercise/form_input :: formInput(${exercise.lessonId}, ${exercise}, ${userInputErrors})}"></div>
              <div class="text-center">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#delete-modal">Delete
                </button>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Introduction</h5>
            <textarea id="introduction-text" th:text="${introduction}"></textarea>
            <button id="update-introduction-btn" type="button" class="btn btn-primary">Update</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title" style="flex: 1;">Quizzes</h5>
              <a th:href="@{/admin/quiz/create(exerciseId=${exercise.id})}" class="btn btn-primary">Create</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Set public modal -->
  <div class="modal fade" id="set-public-modal" tabindex="-1" role="dialog" aria-labelledby="set-public-modal-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="set-public-modal-label">Publish exercise</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to publish this exercise?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="post" th:action="@{/admin/exercise/{exerciseId}/set-publicity(exerciseId=${exercise.id})}">
            <input type="hidden" name="isPublic" value="true">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Set private modal -->
  <div class="modal fade" id="set-private-modal" tabindex="-1" role="dialog" aria-labelledby="set-private-modal-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="set-private-modal-label">Set exercise private</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to set this exercise private?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="post" th:action="@{/admin/exercise/{exerciseId}/set-publicity(exerciseId=${exercise.id})}">
            <input type="hidden" name="isPublic" value="false">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete modal -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-modal-label">Delete exercise</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this exercise?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="post" th:action="@{/admin/exercise/{exerciseId}/delete(exerciseId=${exercise.id})}">
            <button type="submit" class="btn btn-danger">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>


<script th:src="@{/vendor/jquery/code.jquery.com_jquery-3.7.1.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script th:inline="javascript">
  const exerciseId = [[${exercise.id}]];

  tinymce.init({
    selector: '#introduction-text',
    menubar: false,
    plugins: 'preview',
    toolbar: 'preview undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | outdent indent'
  });

  $(document).ready(function () {
    $('#update-introduction-btn').click(function () {
      updateIntroduction();
    });
  });

  function updateIntroduction() {
    const introduction = tinymce.get('introduction-text').getContent();

    const form = document.createElement('form');
    form.method = 'post';
    form.action = `/admin/exercise/${exerciseId}/update-introduction`

    const input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'content';
    input.value = introduction;

    form.appendChild(input);
    document.body.appendChild(form);
    form.submit();
  }
</script>
</body>
</html>