<!--This is a fragment of a page that contains a data table that can be arranged by drag and drop.-->
<!--base on Class::common.datatable.DataTable object you pass in -->

<!--include this fragment in your template by using this tag:-->
<!--pass in your dataTable object as a parameter with name 'dataTable'-->
<!--Add following tag to your template to use this fragment.-->
<!--<script "fragments/data_table_js" th:with="dataTable=${yourDataTable}"}></script>-->

<!--remember that this template can only be used once in a page.-->

<table class="display cell-border" th:id="data_table">
    <thead>
    <tr>
        <th style="display: none;" scope="col">Position</th>
        <th scope="col" hidden="hidden">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rowData : ${dataTable.rows}">
        <td style="display: none;" th:text="${rowData.position}"></td>
        <td th:text="${rowData.id}" hidden="hidden"></td>
        <td><a th:href="${rowData.detailUrl}" class="name" th:text="${rowData.name}"></a></td>
        <td><a th:href="${rowData.updateUrl}"><i class="bi bi-pen"></i></a></td>
        <td><a th:href="${rowData.deleteUrl}"><i class="bi bi-trash"></i></a></td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary" th:onclick="dataTableManager.savePosition()">Save Position</button>

<!-- Display a message for successful or failed when request for save order-->
<div id="success-reposition" class="text-success" style="display: none;">Save position successfully</div>
<div id="fail-reposition" class="text-danger" style="display: none;">Save position failed</div>
