<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon  -->
  <link rel="icon" href="/images/fragments/favicon.ico">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <title>Lesson detail</title>

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header(${userInfo})"></div>
<div th:replace="fragments/sidebar"></div>
<main id="main" class="main">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/lesson">Lessons</a></li>
    </ol>
  </nav>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">
                  Lesson detail
                  <span class="badge bg-info text-light" th:if="${lesson.isPublic()}">Public</span>
                  <span class="badge bg-secondary text-light" th:if="${!lesson.isPublic()}">Private</span>
                </h5>
              <div th:object="${lesson}">
                <button th:if="*{!isPublic()}" type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#set-public-modal">Set public
                </button>
                <button th:if="*{isPublic()}" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#set-private-modal">Set private
                </button>
              </div>
            </div>
            <form method="post" id="lesson-form" th:action="@{/admin/lesson/{lessonId}/update(lessonId=${lesson.getId()})}"
                  class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" th:value="${lesson.name}" name="name" id="name"
                         th:classappend="${userInputErrors?.hasErrors('name')}? 'is-invalid' : ''">
                  <label for="name">Name</label>
                  <div class="invalid-feedback">
                    <span th:if="${userInputErrors?.hasErrors('name')}"
                          th:text="${userInputErrors.getFirstErrorMessage('name')}">
                    </span>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#delete-modal">Delete
                </button>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title" style="flex: 1;">Exercises</h5>
              <a th:href="@{/admin/exercise/create(lessonId=${lesson.getId()})}" class="btn btn-primary">Create</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Set public modal -->
  <div class="modal fade" id="set-public-modal" tabindex="-1" role="dialog" aria-labelledby="set-public-modal-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="set-public-modal-label">Publish lesson</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to publish this lesson?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form method="post" th:action="@{/admin/lesson/{lessonId}/set-publicity(lessonId=${lesson.getId()})}">
            <input type="hidden" name="is-public" value="true">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Set private modal -->
  <div class="modal fade" id="set-private-modal" tabindex="-1" role="dialog" aria-labelledby="set-private-modal-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="set-private-modal-label">Set lesson private</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to set this lesson private?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="post" th:action="@{/admin/lesson/{lessonId}/set-publicity(lessonId=${lesson.getId()})}">
            <input type="hidden" name="is-public" value="false">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete modal -->
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-modal-label">Delete lesson</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this lesson?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="post" th:action="@{/admin/lesson/{lessonId}/delete(lessonId=${lesson.getId()})}">
            <input type="hidden" name="is-public" value="false">
            <button type="submit" class="btn btn-danger">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>