.reorder-col {
  width: 20px;
}

.dragging-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #65a1e6;
  opacity: 0.7;
  color: white;
  font-size: 40px;
}
